WORDPRESS_CLIENT_ID=pon_aqui_tu_client_id
WORDPRESS_CLIENT_SECRET=pon_aqui_tu_client_secret
WORDPRESS_BRIDGE_TOKEN=pon_un_token_largo_para_el_endpoint_alentio
LIBREOFFICE_BIN=C:\Program Files\LibreOffice\program\soffice.com
